@model Lab_11._3RegistrationCont.Models.WebUser

<h2> Save</h2>
Welcome, @Model.FirstName 
@Model.LastName !<br />
Your email is @Model.Email<br />
Your password is @Model.Password1<br />
Your Gender is @Model.Gender <br />  
